@use 'variables' as *;

.no-text-decoration {
    text-decoration: none;
}

.spacer {
    display: block;
    height: $spacing-5;
}

.link {
    color: black;
    text-decoration: none;
    position: relative;
    margin: auto 0;
    padding: 4px 0;
    font-weight: 400;
    font-family: $font-main;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1.5px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
        transition: transform .3s ease-out;
    }
}